.header {
    padding: 20px 0px 0px 20px;
}

.am-content {
    padding: 20px;
  
   }
  
.am-content h2 {
    font-size: 40px;
    font-weight: lighter;
    text-align: left;
    margin: 0;
       
        
}

.am-column {
    float: left;
    padding: 40px;
    margin-top: 20px;
    margin: 0;
  }
  
  .left {
    width: 50%;
    margin: 0;
    text-align: right;
  }
  
  .right {
    width: 50%;
    margin: 0;
  }


.below-content {
    font-size: 18px;
    padding-left: 20%;
    padding-right: 20%;
    display: inline-block;
   
}

.section-1 {
    padding: 40px 10px;
}

  @media screen and (max-width: 600px) {
    .am-column {
      width: 100%;
     
    }
    .left {
        text-align: left;
    }
    .right {
        padding: 0 0 0 20px;
    }
    .below-content {
        margin-bottom: 30%;
        
    }
}



@media screen and (max-width: 1140px) {
    .below-content {
        padding-left:15%;
        padding-right:15%;
    }
}